@page "/Especialidades"
@inject HttpClient httpClient
@inject IHttpService http
@using MudBlazor
@inject ISnackbar Snackbar

<h3>Lista de tipos de especialidades</h3>
<br />
<MudButton Variant="Variant.Filled" href="/Especialidades/create">Agregar especialidad</MudButton>
<br />


<MudTable Items="@ListEspecialidades" Hover="@hover" Bordered="@bordered" class="mat-elevation-z">
    <ToolBarContent>
        <MudText>Lista de especialidades</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Codigo</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Tipo de documento</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Codigo</MudTd>
        <MudTd>@context.Nombre</MudTd>
        <MudTd>@listTitulos.Find(x => x.Id == context.TituloId).Nombre</MudTd>
        <MudTd>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Primary" HRef="@($"/Especialidades/edit/{context.Id}")">
                Editar
            </MudButton>
        </MudTd>
        <MudTd>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error"
            @onclick="()=> delete(context)">
                Borrar
            </MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>

</MudTable>

@code {
    List<Titulo> listTitulos = new List<Titulo>();
    List<Especialidad> ListEspecialidades = new List<Especialidad>();
    private bool hover = true;
    private bool bordered = true;
    public string Msg = "";

    [Inject] private IDialogService DialogService { get; set; }
    [Parameter] public EventCallback<string> OnButtonClick { get; set; }
    private Confirmation confirmation;
    bool flagTdoc = true;
    public string state = "Message box hasn't been opened yet";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetEspecialidades();
        await GetTitulos();
    }

    private async Task GetEspecialidades(){
        var response = await http.Get<List<Especialidad>>("api/Especialidades");
        if(!response.Error){
            ListEspecialidades = response.Response;
        }else{
            Msg = await response.GetError();
        }
    }
    private async Task  GetTitulos(){
        var response = await http.Get<List<Titulo>>("api/Titulos");
        if (!response.Error)
        {
            listTitulos = response.Response;
        }
        else
        {
            flagTdoc = false;
        }
    }

    private async Task delete(Especialidad entity)
    {


        bool? result = await DialogService.ShowMessageBox(
            $"Warning you gonna delete the following Type of document {entity.Nombre}",
            "Are you sure you want to delete?",
            yesText: "Confirm!", cancelText: "Cancel");

        state = result == null ? "Canceled" : "Deleted!";

        if (result == true)
        {
            var resp = await http.Delete($"api/Especialidades/{entity.Id}");
            if (!resp.Error)
            {
                Snackbar.Add("especialidad eliminada correctamente.", Severity.Success);
                await GetEspecialidades();
            }
            else
            {
                var errorMsg = await resp.GetError();
                Snackbar.Add("No se puede eliminar la especialidad porque existen matriculas asociadas. Elimine primero las personas.", Severity.Error);
            }
        }
    }
}
