@page "/Especialidades"
@inject HttpClient httpClient
@inject IHttpService http
@using MudBlazor


<h3>Lista de tipos de especialidades</h3>
<br />
<MudButton Variant="Variant.Filled" href="/Especialidades/create">Agregar especialidad</MudButton>
<br />


<MudTable Items="@ListEspecialidades" Hover="@hover" Bordered="@bordered" class="mat-elevation-z">
    <ToolBarContent>
        <MudText>Lista de especialidades</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Codigo</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Tipo de documento</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Codigo</MudTd>
        <MudTd>@context.Nombre</MudTd>
        <MudTd>@listaTdocumentos.Find(x => x.Id == context.TDocumentoId).Nombre</MudTd>
        <MudTd>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Primary" HRef="@($"TDocumentos/editar/{context.Id}")">
                Editar
            </MudButton>
        </MudTd>
        <MudTd>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error"
            @onclick="()=> delete(context)">
                Borrar
            </MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>

</MudTable>

@code {
    List<TDocumento> listaTdocumentos = new List<TDocumento>();
    List<Especialidad> ListEspecialidades = new List<Especialidad>();
    private bool hover = true;
    private bool bordered = true;
    public string Msg = "";

    [Inject] private IDialogService DialogService { get; set; }
    [Parameter] public EventCallback<string> OnButtonClick { get; set; }
    private Confirmation confirmation;
    bool flagTdoc = true;
    public string state = "Message box hasn't been opened yet";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetEspecialidades();
        await GetDocTypes();
    }

    private async Task GetEspecialidades(){
        var response = await http.Get<List<Especialidad>>("api/Especialidades");
        if(!response.Error){
            ListEspecialidades = response.Response;
        }else{
            Msg = await response.GetError();
        }
    }
    private async Task GetDocTypes(){
        var response = await http.Get<List<TDocumento>>("api/TDocumentos");
        if (!response.Error)
        {
            listaTdocumentos = response.Response;
        }
        else
        {
            flagTdoc = false;
        }
    }

    private async Task delete(Especialidad entity)
    {
        bool? result = await DialogService.ShowMessageBox(
            $"Warning you gonna delete the following Type of document {entity.Nombre}",
            "Are you sure you want to delete?",
            yesText: "Confirm!", cancelText: "Cancel");
        state = result == null ? "Canceled" : "Deleted!";
        StateHasChanged();
        if (OnButtonClick.HasDelegate)
        {
            await OnButtonClick.InvokeAsync(state);
        }

        if (state == "Deleted!")
        {
            var resp = await http.Delete($"api/Personas/{entity.Id}");
            await GetEspecialidades();
        }
        else
        {
            return;
        }
    }
}
