<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProyectoDePractica.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="swagger/index.html">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Swagger
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TDocumentos">
                <MudIconButton Icon="@Icons.Material.Filled.Book" Color="Color.Inherit" Size="Size.Medium"></MudIconButton> Tipo de documentos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Titulos">
                <MudIconButton Icon="@Icons.Material.Filled.ReduceCapacity" Color="Color.Inherit" Size="Size.Medium"></MudIconButton> Titulos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Personas">
                <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Size="Size.Medium" ></MudIconButton> Personas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Especialidades">
                <MudIconButton Icon="@Icons.Material.Filled.AddHomeWork" Color="Color.Inherit" Size="Size.Medium" ></MudIconButton> Especialidades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Profesiones">
                <MudIconButton Icon="@Icons.Material.Filled.Approval" Color="Color.Inherit" Size="Size.Medium"></MudIconButton> Profesiones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Matriculas">
                <MudIconButton Icon="@Icons.Material.Filled.MedicalInformation" Color="Color.Inherit" Size="Size.Medium"></MudIconButton> Matriculas
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
